[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BAMBI"]
	path = BAMBI
	url = https://github.com/c7rishi/bambi
[submodule "pvLRT"]
	path = pvLRT
	url = https://github.com/c7rishi/pvlrt
